.header-container {
  color: #fff;
  height: 65px;
  background-color: #4975fa;
  padding-top: 10px;

  font-size: 20px;
  text-align: left;
}
.cart,
.person-img {
  margin-left: 20px;
  height: 50px;
  width: 50px;
}
.cart:hover,
.person-img:hover {
  cursor: pointer;
}
.right-container {
  display: flex;
  float: right;
  padding-right: 10px;
  padding-top: 10px;
}
