@import url(https://fonts.googleapis.com/css?family=Open+Sans:600);
.logo {
  height: 70px;
  width: 100px;
}
.logo-container {
  display: flex;
  border-bottom: 1px solid blueviolet;
}
.title {
  font-family: cursive;
  padding-top: 34px;
  font-size: 22px;
  color: #fff;
}
.sidenav {
  position: fixed;
  width: 270px;
  height: 100%;
  background-color: #1e2027;
}
.sidenav .main-buttons {
  list-style-type: none;
  padding: 20px 0;
  margin: 0;
  color: #fff;
}
.sidenav .main-buttons li {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 14px;
  font-weight: 600;
  display: flex;
  justify-content: inherit;
}
li div {
  margin-left: 20px;
}
.sidenav .main-buttons > li {
  padding: 20px 28px;
}
.sidenav .main-buttons > li .fa {
  position: absolute;
  left: 10px;
  color: #414655;
}
.sidenav .main-buttons > li:hover,
.sidenav .main-buttons > li:active,
.sidenav .main-buttons > li:focus {
  background-color: #292c35;
  cursor: pointer;
}
.sidenav .main-buttons > li:hover .hidden,
.sidenav .main-buttons > li:active .hidden,
.sidenav .main-buttons > li:focus .hidden {
  width: 228px;
}

.hidden {
  width: 0;
  padding: 0;
  position: absolute;
  left: 250px;
  overflow: hidden;
  list-style-type: none;
  background-color: #323336;
  opacity: 0.5;
  transition: all 0.5s ease;
  border-radius: 0 5px 5px 0;
}

.hidden li {
  padding: 20px 24px;
  border-bottom: 1px solid #5a678f;
}
.hidden li:hover,
.hidden li:active,
.hidden li:focus {
  background-color: #202f6b;
}
a {
  text-decoration: none;
  color: #fff;
}
.sidebar-icon {
  font-size: 25px;
  margin-right: 20px;
}
