@import url(https://fonts.googleapis.com/css?family=Open+Sans:600);
.menu-list {
  text-align: left;
  height: 100%;
  background-color: rgb(48, 48, 48);
}

.items {
  color: rgb(134, 134, 134);
}

li {
  height: 70px;
}

.sidenav {
  position: fixed;
  width: 280px;
  height: 100%;
  background-color: #1e2027;
}
.sidenav .main-buttons {
  list-style-type: none;
  margin: 64px 0;
  padding: 0;
  color: #fff;
}
.sidenav .main-buttons li {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
  font-weight: 600;
}
.sidenav .main-buttons > li {
  padding: 16px 52px;
}
.sidenav .main-buttons > li .fa {
  position: absolute;
  left: 12px;
  color: #414655;
}
.sidenav .main-buttons > li:hover,
.sidenav .main-buttons > li:active,
.sidenav .main-buttons > li:focus {
  background-color: #292c35;
  cursor: pointer;
}
.sidenav .main-buttons > li:hover .hidden,
.sidenav .main-buttons > li:active .hidden,
.sidenav .main-buttons > li:focus .hidden {
  width: 228px;
}
.hidden {
  width: 0;
  height: 100%;
  padding: 64px 0;
  position: absolute;
  top: 0;
  right: 0;
  overflow: hidden;
  list-style-type: none;
  background-color: #292c35;
  transition: all 0.3s ease;
}
.hidden li {
  padding: 16px 24px;
}
.hidden li:hover,
.hidden li:active,
.hidden li:focus {
  background-color: #323541;
}
body {
  background-color: #caccd6;
  line-height: 30px;
}
